<Gridlayout class="grid" rows="80px, *, *, 80px" columns="*, *, *, *" backgroundColor="purple">
<Label row="0"  col="0"  colspan="4" backgroundColor="darkblue"></Label>
<Label row="0" col="4" rowspan="4" backgroundColor="green"></Label>
<Label  row="1" col="0" rowspan="2" backgroundColor="yellow"></Label>
<Label  row="1" col="1" colSpan="2" rowspan="2" class="h3" text="Nasa tunga na siya!" verticalAlignment="center" textAlignment="center"></Label>
<Label row="2" col="0" rowSpan="2"  backgroundColor="red"></Label>
<Label row="4" col="0"  colspan="0" rowspan="4" backgroundColor="pink"></Label>
<Label row="4" col="2" rowspan="4" backgroundColor="yellow"></Label>
<Label row="4" col="1" rowspan="4" backgroundColor="darkblue"></Label>
</Gridlayout>
