.btn1{
    margin-top: 2%;
    color: black;
    border: solid 2px black;
    background: skyblue
}
.btn2{
    margin-top: 2%;
    color: black;
    border: solid 2px black;
    background: red
}
.btn{
    background-color: green
}
#savebutton{
    background-color: green
}
