<ActionBar title="Details">
    <FlexboxLayout flexDirection="column">
        <FlexboxLayout class="m-15">
            <Label class="h2" [text]="item.id + '. '"></Label>
            <Label class="h2" [text]="item.name"></Label>
        </FlexboxLayout>
        <Label class="h3 m-15" [text]="item.role"></Label>
        <FlexboxLayout class="m-10">
            <Label textWrap="true" text="Goals Score!" class="h4 description-label"></Label>
            <Label textWrap="true" [text]="number" class="h2 description-label"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column" width="200" height="300" >
            <Button text="Increment" class="btn1" (tap)="onTap()"></Button>
            <Button *ngIf="number > 0" text="Decrement" class="btn2" (tap)="decre()"></Button>
            <Button color="white" (tap)="update()" text="Update" class="btn"></Button>
        </FlexboxLayout>

        <StackLayout class="form">
            <ns-form *ngIf="show" (editEvent)="update($event)" [store]="item"></ns-form>
        </StackLayout>
    </FlexboxLayout>