<!-- 
    <StackLayout orientation="vertical" width="210" height="210" backgroundColor="lightgray">
        <Button col="0" text="Go to grid" style="background-color:burlywood" class="btn" [nsRouterLink]="['/grid']"></Button>
        <Button col="1" text="Soccer" style="background-color: orchid" class="btn" [nsRouterLink]="['/soccerplayer']"></Button>
        <Button col="2" text="Artist" style="background-color:skyblue" class="btn" [nsRouterLink]="['/artist']"></Button>
        <Button col="3" text="Home" style="background-color:rosybrown" class="btn" [nsRouterLink]="['/']"></Button>
    </StackLayout> -->
    <!-- <ActionBar title="My Native NativeScript Application">
            <Gridlayout columns="*, *, *,*">
                <Button col="0" text="Go to grid" style="background-color:burlywood" class="btn" [nsRouterLink]="['/grid']"></Button>
                <Button col="1" text="Soccer" style="background-color: orchid" class="btn" [nsRouterLink]="['/soccerplayer']"></Button>
                <Button col="2" text="Artist" style="background-color:skyblue" class="btn" [nsRouterLink]="['/artist']"></Button>
                <Button col="3" text="Home" style="background-color:rosybrown" class="btn" [nsRouterLink]="['/']"></Button>
            </Gridlayout>
        </ActionBar> -->
        <FlexboxLayout flexDirection="column" width="500" height="700" backgroundColor="lightgray">
                <Button color="white" col="2" text="Go to grid" style="background-color:burlywood" class="btn" [nsRouterLink]="['/grid']"></Button>
                <Button color="white" col="3" text="Soccer" style="background-color: orchid" class="btn" [nsRouterLink]="['/soccerplayer']"></Button>
                <Button color="white" col="4" text="Artist" style="background-color:skyblue" class="btn" [nsRouterLink]="['/artist']"></Button>
                <Button color="white"  col="5" text="Home" style="background-color:rosybrown" class="btn" [nsRouterLink]="['/']"></Button>
              </FlexboxLayout>
     